/*Colors*/
.phone { background-color: #2A5032; } /* Rojo Teléfono */
.email { background-color: #80063f; } /* Púrpura Email */
.web { background-color: #192542; } /* Púrpura Email */
.contact { background-color: #353434;}
.contact:hover {cursor: pointer;}
.download {background-color: #727272;}





body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
}

.mobile-card {
    height: 100%;
    max-width: 100%;
    background-color: white;
    font-size: 14px;
    color: #333;
}

#language-selector {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}

#language-selector button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}


.icono-compartir {
    height: 24px; /* Ajusta la altura según necesites */
    width: auto;
    vertical-align: middle; /* Alinea el ícono con el texto */
    margin: -20px;
}

.p-icon-comp{
    margin: 0px;
}

.card-header {
    background-color: #1f2e52;
    color: #ebc224;
    text-align: center;
    padding: 40px;
    margin-bottom: 5px;
    position: relative;

    background-image: linear-gradient(rgba(31, 46, 82, 0.8), rgba(31, 46, 82, 0.7)), url('img/back-header.png');
    background-position: center; /* Centra la imagen de fondo en el div */
    background-size: cover; /* Esto hará que la imagen de fondo cubra todo el div */
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));

}
.consultant-name {
    font-size: 24px;
    margin: 10px;
}

.card-header h2{
    margin-top: 20px;
}

.card-header p{
    margin-top: -10px;
}



.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #ebc224;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block; /* Asegura que la imagen sea un bloque y por ende, centrada */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

.pop {
    display: none;
}

.pop-content {
    
    background-color: #f9f9f9;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.pop-content p , .pop-content b{
    text-align: left;
    margin: 10px;
}




.card-content {
    padding: 20px;
    text-align: center;
}

.contact-buttons .button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}

/* Clases adicionales por color de los íconos, si es necesario */
.phone .fa-phone { color: #fff; }
.email .fa-envelope { color: #fff; }
.web .fa-globe { color: #fff; }

/* Asegúrate de que los íconos no tengan bordes y sean del tamaño apropiado */
.fa-phone, .fa-envelope, .fa-globe {
    border: none;
    font-size: 1.2em; /* O el tamaño que prefieras */
}

.contact-buttons a.button {
    display: block;
    margin: 10px 0;
    padding: 15px;
    padding-left: 50px;
    position: relative;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.contact-buttons a.button i {
    position: absolute;
    left: 80px; /* Ajusta la posición izquierda de los iconos */
    top: 50%;
    transform: translateY(-50%);
}



.phone i {
    color: #4CAF50; /* Color del icono para teléfono */
}

.email {
    background-color: #80063f; /* Púrpura */
}

.email i {
    color: #db7093; /* Color del icono para email */
}

.web {
    background-color: #192542; /* Azul */
}

.web i {
    color: #1e90ff; /* Color del icono para web */
}



img {
    
    margin: 20px 0;
}

/* Estilos para la sección de servicios con Acordeón */

.services-section{
    padding: 20px;
}

.banner {
    background-color: #192542;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (si quieres que también esté centrado verticalmente) */
    height: 100px; /* Ajusta la altura según necesites */
  }

.accordion {
    background-color: #1f2e52;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-top: 10px; /* Añade espaciado entre botones si es necesario */
}

.active, .accordion:hover {
    background-color: #365087; /* Color más claro para el botón activo/hover */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Estilos para la sección de ubicación con Mapa */
.location-section {
    padding: 20px;
}

.location-section h2 {
    color: #1f2e52;
    margin-bottom: 20px;
}

.qr-section h2 {
    font-size: 20px;
    font-weight: bold;
}

.qr-section img.qr-code-image {
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.qr-section .qr-link {
    background-color: #fff; /* Fondo blanco para contraste */
    padding: 10px; /* Espacio alrededor del QR */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.qr-code-image {
    width: 120px;
    height: 120px;
    transition: transform 0.5s ease;
    cursor: pointer; /* Para indicar que es clickable */
}
  
.qr-code-image.expanded {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}



.social-share-buttons a {
    display: inline-block;
    margin: 5px;
    /* Agrega estilos adicionales si es necesario */
}

.social-share-buttons i {
    margin-right: 8px;
}

.sharing-section {
    text-align: center; /* Centra el texto y los elementos de bloque */
    margin: 0 auto;
}

.sharing-section img.clickable-qr {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.social-buttons .social-button {
    padding: 10px 15px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
}

.social-buttons {
    padding-bottom: 30px;
}

.social-buttons p{
    font-weight: bold;
    padding-top: 20px;
}

.follow-buttons p {
    font-weight: bold;
    margin-top: 30px;
    padding-top: 15px;
}

.follow-buttons{
    padding-bottom: 15px;
}



.social-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px; /* Bordes redondeados para los botones */
    color: white;
    font-size: 16px;
}

.social-button i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.follow-button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #EFEFEF;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.follow-buttons{
    background-color: #e0e0e0;

    .follow-button {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        border-radius: 50%; /* Íconos circulares */
        color: white;
        font-size: 20px; /* Tamaño del ícono */

        i{
            width: 30px;
            height: 30px;
            line-height: 30px; /* Centra verticalmente el ícono */
            text-align: center;
        }
    }

    /* Ajusta el tamaño y el estilo del ícono de Font Awesome */
    
}

.social-button i{
    margin-right: 8px;
}

.qr-section p,
.social-buttons p,
.follow-buttons p {
    margin: 10px 0; /* Espacio uniforme arriba y abajo */
    color: #333; /* Color del texto */
}
.qr-section .qr-link,
.social-buttons .social-button,
.follow-buttons .follow-button {
    display: inline-block; /* Coloca elementos uno al lado del otro */
    margin: 10px; /* Espacio entre botones */
    text-decoration: none; /* Sin subrayado en los enlaces */
}

/* Colores específicos para los botones de redes sociales */
.social-button.email { background-color: #D44638; }
.social-button.linkedin { background-color: #0077B5; }
.social-button.whatsapp { background-color: #25D366; }
.social-button.wechat {background-color: #4CAF50;}

.follow-button.facebook { background-color: #3B5998; }
.follow-button.twitter { background-color: #1DA1F2; }
.follow-button.youtube { background-color: #FF0000; }
.follow-button.instagram { background-color: #C13584; }
.follow-button.linkedin { background-color: #0077B5; }

.footer-content {
    text-align: center;
}

.footer-content .copyright {
    margin-top: 20px;
}

